# tuple

In [1]:
# tuple is the heterogenous data structure.
# tuple is the ordered and immutable collection of elements.
# By immutable means that once the tuple is created it can't be changed.
# tuple is created using () brackets.

t1 = (10,20,"hello",True,90.1,5+5j)
print(t1)
print(type(t1))

(10, 20, 'hello', True, 90.1, (5+5j))
<class 'tuple'>

In [15]:
# to create the tuple with element single we use comman after the element bcz 
# it will create the confusion whether the single element is inside the () brackets or
# it is the tuple containing the single element. 

t1 = (1,)
print(t1)
print(type(t1))


t2 = ()
print(type(t2))


t4 = (1)
print(t4)
print(type(t4))

t1 = ((1,2,3,4),)
print(type(t1[0]))

print(type(()))

(1,)
<class 'tuple'>
<class 'tuple'>
1
<class 'int'>
<class 'tuple'>
<class 'tuple'>

# Indexing

In [4]:
# indexing is used to extract the particular element from the tuple.
# there are two types of indexing 
# 1. postive indexing
# 2. negative indexing

t1 = (10,20,"hello",True,90.1,[10,20,30])
print(t1)

(10, 20, 'hello', True, 90.1, [10, 20, 30])

# postive indexing

In [5]:
t1 = (10,20,"hello",True,90.1,[10,20,30])
print(t1[0])

10

In [6]:
print(t1[1])

20

In [7]:
print(t1[2])

hello

# Negative Indexing

In [8]:
t1 = (10,20,"hello",True,90.1,[10,20,30])
# It is internally written like that t1[len(t1)-1]
print(t1[-1])

[10, 20, 30]

In [9]:
print(t1[-2])

90.1

In [10]:
print(t1[-3])

True

# Slicing

In [11]:
t1 = (10,20,"hello",True,90.1,5)
print(t1)

(10, 20, 'hello', True, 90.1, 5)

In [12]:
print(t1[::])

(10, 20, 'hello', True, 90.1, 5)

In [13]:
print(t1[:])

(10, 20, 'hello', True, 90.1, 5)

In [14]:
print(t1[1:])

(20, 'hello', True, 90.1, 5)

In [15]:
print(t1[-1:-4:-1])

(5, 90.1, True)

In [16]:
# For reverse slicing (-1), Python expects the start index to be greater than the stop index.
# which is not in this case so it will return empty tuple.
print(t1[1:4:-1])

()

In [17]:
print(t1[::-1])

(5, 90.1, True, 'hello', 20, 10)

# Tuple Methods

In [19]:
# As the tuples are immutable so there only few methods of tuple
t1 = (10,20,"hello",True,90.1,[10,20,30])
print(t1)
print(type(t1))

(10, 20, 'hello', True, 90.1, [10, 20, 30])
<class 'tuple'>

In [20]:
print('------------------count method-----------------------')
# Return the total no of occurrences of the element/object in the tuple.
print()

t1 = (10,20,"hello",True,90.1,[10,20,30])
print(t1.count(10))

------------------count method-----------------------

1

In [21]:
print('------------------index method-----------------------')
# Return the first occurrence (index )of the element/object in the tuple.
# if the object is not found in the tuple then it will raise an error.
print()
t1 = (10,20,30,40,"hello",True,10)
print(t1.index(30))

------------------index method-----------------------

2

In [23]:
print('------------------del keyword-----------------------')
# it used to delete the tuple object.
print()
t1 = (10,20,30,40,"hello",True,10)
del t1
print("Now the tuple object is deleted")

------------------del keyword-----------------------

Now the tuple object is deleted

# Mathematical Operation

In [24]:
# if we perform addition operation on two tuples then it will return the new tuple which contains both the tuple elements.
t1 = (10,20,30)
t2 = ("hello",1+1j)
t3 = t1 + t2
print(t3)
print(type(t3))

(10, 20, 30, 'hello', (1+1j))
<class 'tuple'>

In [26]:
# Error
# t1 = (10,20,30)
# print(t1+1)

#  can only concatenate tuple (not "int") to tuple

In [34]:
# Mutiplication 
# if we multiply the number the tuple then it will return the new tuple in which element of the original is repeated as many times as the number is multiply with the tuple.

t1 = (10,20,30,'Hello',1+1j,90,True)
print(t1,type(t1))

t2 = t1*2
print(t2)

(10, 20, 30, 'Hello', (1+1j), 90, True) <class 'tuple'>
(10, 20, 30, 'Hello', (1+1j), 90, True, 10, 20, 30, 'Hello', (1+1j), 90, True)

In [36]:
# Division
# Error
# t1 = (10,20,30)
# print(t1/2)
# TypeError:unsupported operand type(s) for /: 'tuple' and 'int'

In [38]:
# Subtraction
# Error
# t1 = (10,20,30,40)
# t1 = t1 - 2
# print(t1)

# TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

# Set

In [39]:
# set is the heterogenous data structure.
# set is unordered and mutable collections of elements.
# By unordered means that set does not support indexing and elements can be printed in any order not in the sequence in which it is stored.
# By mutable means that once the set is created it can be changed.
# Set is created using {} brackets.
# Set is known for it uniqueness it does not support duplicate elements.


s1 = {10,20,30,40,"Hello",'x','True',True,90,1}
print(s1)
print(type(s1))

{True, 'Hello', 40, 10, 20, 'True', 90, 30, 'x'}
<class 'set'>

In [41]:
# Set with the single element
s1 = {10}
print(s1)
print(type(s1))

{10}
<class 'set'>

# Set methods

In [42]:
print("-------------------union method---------------------")
# Return the new set with all elements from both the set.
# It also take the iterable object , unwrap their data and adds in the new tuple.
s1 = {10,20,30}
s2 = {30,40,50}
print(s1.union(s2))

-------------------union method---------------------
{50, 20, 40, 10, 30}

In [44]:
print('---------------intersection method-------------------')
# Return the new set which contains only comman element from both the sets.

s1 = {10,20,30,40}
s1 = {30,40,50,60}
print(s1.intersection(s2))

---------------intersection method-------------------
{40, 50, 30}

In [59]:
print('---------------update method-------------------')
# update method is the methods which only recieve the iterable objects.
# and are used to add in the original set with which we called the update method.
# the changes will be reflected into the original set.

s1 = {10,20,30,40}
s2 = {50,60,70,80}
s1.update(s2)
print(s1)


# Also take the iterable object and unwrap it and add their elements in the original set.
s1.update([100,200,300])
print(s1)

s1.update(('hello',))
print(s1)

# Only add the key not add the their value
# bczWhen a dictionary is passed as the argument, only its keys are considered because dictionaries themselves are iterable over their keys by default.
s1.update({'a':'b'})
print(s1)

s1.update("hello")
print(s1)

---------------update method-------------------
{70, 40, 10, 80, 50, 20, 60, 30}
{100, 70, 40, 200, 10, 300, 80, 50, 20, 60, 30}
{100, 70, 40, 200, 10, 'hello', 300, 80, 50, 20, 60, 30}
{100, 70, 40, 200, 10, 'hello', 300, 'a', 80, 50, 20, 60, 30}
{100, 70, 40, 200, 10, 'hello', 300, 'a', 'e', 'l', 80, 'h', 50, 20, 'o', 60, 30}

In [76]:
print('---------------intersection_update method-------------------')
# Update the original set with elements that are only comman in the set and iterable object which is passed as an argument.
s1 = {10,20,30,40}
s2 = {40,50,60,70}
s1.intersection_update(s2)
print(s1)


s1 = {40,'hello',10}
s1.intersection_update([10,20,30,40])
print(s1)


s1 = {90,100}
s1.intersection_update({90:100,10:100})
print(s1)

s1 = {'hello'}
print(s1)
s1.intersection_update('World')
print(s1)

---------------intersection_update method-------------------
{40}
{40, 10}
{90}
{'hello'}
set()

In [73]:
# s1 = {1+1j,True,90,10,[10,20,30]}
# print(s1)

'''
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[71], line 1
----> 1 s1 = {1+1j,True,90,10,[10,20,30]}
      2 print(s1)

TypeError: unhashable type: 'list'
'''


# The error TypeError: unhashable type: 'list' occurs because sets in Python require their elements to be hashable, and lists are not hashable.

# Why are lists not hashable?
# A hashable object has a fixed hash value for its lifetime, meaning it can be used as a key in dictionaries or as an element in sets.
# Lists are mutable (their contents can change), which makes their hash value unreliable, so they cannot be added to sets.
# Code Breakdown:
# s1 = {1+1j, True, 90, 10, [10, 20, 30]}
# print(s1)
# The set contains a list [10, 20, 30], which is not hashable, so the code throws an error.


'''
To correct this we can use tuple inside the set as the tuple are immutable which means it can't be changed and their value remains unchanged.
So it can be use as key in the set as does not support the duplicate elements.



********Conclusion only immutable objects are stored inside the set*******
'''

s1 = {1+1j,True,90,10,(10,20,30)}
print(s1)
print(type(s1))

{True, (1+1j), 90, 10, (10, 20, 30)}
<class 'set'>

In [81]:
print('---------------difference method-------------------')
# Return new set with elements that are only present in the original set with method is called.
# Here 40,50 are present in both the set from the original set so it will not be in the new set.
s1 = {10,20,30,40,50}
s2 = {40,50,60,70,80}
s3 = s1.difference(s2)
print(s3)

# list as iterable object
s1 = {10,20,30}
print(s1.difference([30,40,50]))


# tuple as iterable object
s1 = {'hello',10,'world'}
print(s1.difference((10,)))


# Dictionary as iterable object
s1 = {10,20,40}
print(s1.difference({10:100}))

---------------difference method-------------------
{10, 20, 30}
{10, 20}
{'hello', 'world'}
{40, 20}

In [87]:
print('-------------difference_update method --------------')
# Update the set with which the method is called with element that only present in the original set with the method is called.

s1 = {10,20,30,40}
s2 = {30,40,50,60}
s1.difference_update(s2)
print(s1)

-------------difference_update--------------
{20, 10}

In [89]:
print('------------------isdisjoint method ---------------------')
# Return true if there is no comman element between the set and the iterable object.
s1 = {10,20,30}
s2 = {30,40,50}
print(s1.isdisjoint(s2))

------------------isdisjoint method ---------------------
False

In [90]:
print('----------------------symmetric_difference-----------------')
# Return the new set with non commnon elements from both the sets.
s1 = {10,20,30,40}
s2 = {30,40,50,60}
print(s1.symmetric_difference(s2))

----------------------symmetric_difference-----------------
{10, 50, 20, 60}

In [96]:
print('----------------------issubset-----------------')
# # issubset method is used to check if either one of the item or more items of the original set are present in the particular set.
# It returns True if all the items are present else it will return false.
# A set 𝐴 A is a subset of set 𝐵 B if every element of 𝐴 A is also an element of 𝐵 B
s1 = {10,20,30,40}
s2 = {20,30,40}

# checking whether s2 is the subset of s1 or not.
print(s2.issubset(s1))

s1 = {10,20,30,40}
print(s1.issubset([10,20,30]))

----------------------issubset-----------------
True
False

In [97]:
print('----------------------issuperset-----------------')
# # issuperset method is used to check if all the items of a particular set are present in the original set. 
# It returns True if all the items are present else it will return false.
# A superset is the opposite of a subset. 
# A set 𝐴A is a superset of another set 𝐵 B if all elements of 𝐵 B are also elements of 𝐴 A.
s1 = {10,20,30,40}
s2 = {10,20,30}
print(s1.issuperset(s2))

----------------------issuperset-----------------
True

In [103]:
print('--------------------add method----------------------')
# It is used to add the element in the set.
s1 = {10,20,30,40}
s1.add(100)
print(s1)

--------------------add method----------------------
{100, 40, 10, 20, 30}

In [104]:
print('--------------------remove method----------------------')
# It used to delete the element from the set.
# if the element is not present then it will raise an error.
s1 = {10,20,30,40,100}
s1.remove(100)
print(s1)

--------------------remove method----------------------
{20, 40, 10, 30}

In [109]:
print('-----------------------pop method------------------------')
# It used to delete the last element from the set.
# But the catch is that we don't which is the last element in the set.

s1 = {10,20,30,40,100}
print(s1.pop())

print(s1.pop())

-----------------------pop method------------------------
100
20

In [111]:
print('-----------------------discard method---------------------')
# It is used to remove the element from the set 
# if the element is not present then it will not raise an error else return none.

s1 = {10,20,30,40,50,True}
print(s1.discard('hello'))

-----------------------discard method---------------------
None

In [113]:
print("---------------------clear method--------------------")
# It is used to delete all the elements of the set.
s1 = {10,20,30}
(s1.clear())
print(s1)

---------------------clear method--------------------
set()

In [114]:
print('-----------------del keyword----------------------')
# It is used to delete the set object not its element.
s1 = {10,20,30}
del s1
print("Now the set s1 is deleted")

-----------------del keyword----------------------
Now the set s1 is deleted

In [117]:
# set(...) converts the input string into a set. When you convert a string into a set, it treats each character in the string as an individual element of the set.
# This means that each character in the input will become an element in the set, and duplicates will be automatically removed.

s1 = set(input("Enter the numbers"))
print(s1)

Enter the numbers10 20 30
{'3', ' ', '1', '2', '0'}

# Dictionary

In [118]:
# Dictionary is collection of data in the form key:value pair where key will be always unqiue while values can be duplicate.
# The key and value is separated by :
# Dictionary is ordered and mutable
# Dictionary is created using {} brackets.

d1 = {10:100,20:200}
print(d1)
print(type(d1))

{10: 100, 20: 200}
<class 'dict'>

In [120]:
# We can get the values of the dictionary using their key.
# Syntax:
# dictionary_name[key_name]

d1 = {'name':'john','age':15}
print(d1,type(d1))
print(d1['name'])

{'name': 'john', 'age': 15} <class 'dict'>
john

In [121]:
# We can get all the keys of the dictionary using keys() method
d1 = {'name':'john','age':15}
print(d1.keys())

dict_keys(['name', 'age'])

In [122]:
# We can get all the values of the keys in the dictionary using () method.
d1 = {'name':'john','age':15}
print(d1.values())

dict_values(['john', 15])

In [125]:
# We can get all the key value pair of the dictionary as a list item using items() method
d1 = {'name':'john','age':15}
print(d1.items())

dict_items([('name', 'john'), ('age', 15)])

In [126]:
# we can new key value pair in the dictionary using dictionary_name['key_name'] = value
# if the particular key is already present in the dictionary old key value is replaced with the new key value.
d1 = {'name':'john','age':15}
d1['country'] = 'London'
print(d1)

{'name': 'john', 'age': 15, 'country': 'London'}

# Dictionary Methods

In [131]:
print('--------------------------get method-------------------------')
# we can get the values of the key using dictionary_name['key_name'] = value
# but the we trying to access the key that is not present in the dictionary then it will raise an error keyError.


# error as the key age is not present.
# d1 = {'name':"GOGO",'Role':"SDE",'country':'London'}
# print(d1['age'])

# But if we use the get method and the key is not present then it will return none.
d1 = {'name':"GOGO",'Role':"SDE",'country':'London'}
print(d1.get('name'))
print(d1.get('age'))

--------------------------get method-------------------------
GOGO
None

In [134]:
print("-------------------update method---------------------")
# It used to add a key value pair in the dictionary.
d1 = {'name':"GOGO",'Role':"SDE"}
d1.update({'country':'london'})
print(d1)

-------------------update method---------------------
{'name': 'GOGO', 'Role': 'SDE', 'country': 'london'}

In [137]:
print('-----------------popitem method-------------------')
# It used to remove the last key value pair from the dictionary.
d1 = {'name':"GOGO",'Role':"SDE"}
d1.popitem()
print(d1)

-----------------popitem method-------------------
{'name': 'GOGO'}

In [139]:
print('-----------------pop method-------------------')
# It used to remove the key value pair from the dictionary that is passed as an arugment in the method. 
d1 = {'name':"GOGO",'Role':"SDE",'country':'London'}
print(d1.pop('country'))
print(d1)

-----------------pop method-------------------
London
{'name': 'GOGO', 'Role': 'SDE'}

In [140]:
print("---------------------clear method--------------------")
# It is used to delete all the key value pair from the dictionary.
d1 = {'name':"GOGO",'Role':"SDE",'country':'London'}
d1.clear()
print(d1)

---------------------clear method--------------------
{}

In [141]:
print('---------------------del keyword------------------')
# It is used to delete the dictionary object.
d1 = {'name':"GOGO",'Role':"SDE",'country':'London'}
del d1

---------------------del keyword------------------

In [12]:
# Key in the dictionary is always unhashable which means it can be only mutable object.
# d1 = {[10,20,30]:10}
# print(d1)

In [2]:
d1 = {(10,):100}
print(d1)

{(10,): 100}

In [4]:
for i in d1:
    print(type(i))

<class 'tuple'>

In [10]:
len(d1)

1

In [11]:
d1 = {'name':'gogo','role':'ASD'}
for i in range(len(d1)):
    print(i)

0

In [25]:
t1 = ((1,2,3,4),(1+1j,),("hello",),[10,20,30,40])

In [27]:
print(type(t1[2]))
print(t1[3][0])

<class 'tuple'>
10

In [36]:
l1 = [10,20,30,10,10,10,100]
print(l1)

[10, 20, 30, 10, 10, 10, 100]

In [37]:
for i in l1:
    if 10 in l1:
        l1.remove(10)

In [38]:
print(l1)

[20, 30, 100]

In [54]:
l1 = [[10,20,30],[40,50],[90,100],[1,'b','b','b']]
for i in l1:
    for j in range(len(i)):
        if type(i[j]) == str:
            i.remove(i[j])

IndexError: list index out of range

In [57]:
l1 = [[10, 20, 30], [40, 50], [90, 100], [1, 'b', 'b', 'b']]
for i in l1:
    i[:] = [x for x in i if not isinstance(x, str)]  # Reassign sublist with non-string elements
# here the changes is done in the list l1 bcz i is references to the memory location of the original list l1.
print(l1)

[[10, 20, 30], [40, 50], [90, 100], [1]]
[1]

In [64]:
d1 = dict({'name':"gogo","role":'sde'})
print(d1)
print(type(d1))

{'name': 'gogo', 'role': 'sde'}
<class 'dict'>

In [69]:
'''
Using dict() with Keyword Arguments:

The dict() function allows a concise and readable way to create dictionaries when keys are valid Python identifiers (e.g., no spaces or special characters in the keys).
This approach avoids the need to use explicit curly braces {} and quotes for the keys.
'''
d1 = dict(name='gogo',role='sde')
print(d1)
print(type(d1))

{'name': 'gogo', 'role': 'sde'}
<class 'dict'>

In [71]:
''' 
Iterable of Key-Value Pairs:
You can pass an iterable (e.g., list, tuple) where each element is another iterable with exactly two items (key-value pairs).
Common use cases include lists of tuples or lists of lists.
'''

d1 = dict([[10,20],[30,40]])
print(d1)
print(type(d1))

{10: 20, 30: 40}
<class 'dict'>

In [74]:
# Zip Object:
# You can use zip() to combine two iterables (e.g., keys and values) into a dictionary.
l1 = ['name','role']
l2 = ['gogo','sde']
res = zip(l1,l2)
print(res)
print(type(zip))
d1 = dict(zip(l1,l2))
print(d1)

<zip object at 0x00000291884EB2C0>
<class 'type'>
{'name': 'gogo', 'role': 'sde'}

In [10]:
d1 = {'name':{'k1':'wer','k4':[345,534535]},'age':3455,True:{45,54,454,34545},'key':False,'34554':(45,45,5,45),
    '__sfsdf':[34,45,454,54,545]}
print(d1)

{'name': {'k1': 'wer', 'k4': [345, 534535]}, 'age': 3455, True: {54, 34545, 45, 454}, 'key': False, '34554': (45, 45, 5, 45), '__sfsdf': [34, 45, 454, 54, 545]}

In [11]:
d1['name']

{'k1': 'wer', 'k4': [345, 534535]}

In [12]:
d1['name']['k1']

'wer'

In [13]:
d1.get('name')

{'k1': 'wer', 'k4': [345, 534535]}

In [14]:
d1.get('name').get('k1')

'wer'

In [15]:
d1.get('34554')[2]

5

In [16]:
d1.get('name').get('k4')[0]

345

In [18]:
'name' in d1

True

In [19]:
3455 in d1

False

In [24]:
# All the function like list(),set(),dict(),tuple() all recieve the iterable objects.
l1 = list(input())
print(l1)

# Unwrap the data of the iterable object and store in the list.
l1 = list(input().split())
print(l1)

10
['1', '0']
10
['10']

In [28]:
t1 = tuple([10,30,40])
print(t1)

t1 = tuple({10,20,30})
print(t1)

# Dictionary is iterable through the keys so keys will be stored in the tuple.
t1 = tuple({'name':'gogo','country':'london'})
print(t1)

(10, 30, 40)
(10, 20, 30)
('name', 'country')

In [35]:
s1 =set([10,20,30])
print(s1)

s1 = set((10,20,30))
print(s1)

s1 = set({'name':'gogo','country':'london'})
print(s1)

# Set can't store the list directly bcz it is the hashable object which means that it can be changed. 
# s1 = {[10,20,30]}
# print(s1)

# it can store unhashable object like tuple,string,int,float etc.
s1 = {(10,20,30)}
print(s1)

{10, 20, 30}
{10, 20, 30}
{'country', 'name'}
{(10, 20, 30)}

In [47]:
# dictionary so can't store the hashables object as a key.
# d1 = {[10,20]:10}
# print(d1)

# hashable object are the objects which can be changed once created.

# d1 = {{10,20}:10}
# print(d1)

d1 = {(10,20):10}
print(d1)
print(type(d1))

d1 = {(10,):100}
print(d1)
print(type(d1))

{(10, 20): 10}
<class 'dict'>
{(10,): 100}
<class 'dict'>

In [49]:
res = input("Enter a para").split(" ")
print(res)

Enter a parathis is is sis is sis a para
['this', 'is', 'is', 'sis', 'is', 'sis', 'a', 'para']

In [50]:
s1 = set(res)
print(s1)

{'is', 'a', 'sis', 'this', 'para'}

In [51]:
d1 = dict()
for i in s1:
    d1[i] = 'gogo'
print(d1)

{'is': 'gogo', 'a': 'gogo', 'sis': 'gogo', 'this': 'gogo', 'para': 'gogo'}

In [53]:
l1 = list()
for i in d1:
    l1.append(d1[i])
print(tuple(l1))

('gogo', 'gogo', 'gogo', 'gogo', 'gogo')

In [54]:
d1 = {}
for i in range(1,11):
    d1[i] = i * i
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Dictionary Comprehension

In [72]:
'''
Dictionary Comprehension in Python
Dictionary comprehension is a concise and efficient way to create dictionaries in Python. 
It allows you to generate a dictionary by iterating over an iterable and applying a condition or transformation, all in a single line.

Syntax:
{key_expression: value_expression for item in iterable if condition}

key_expression: Expression that generates the key for each item.

value_expression: Expression that generates the value for each item.

iterable: Any iterable (e.g., list, range, string, etc.) that you loop through.

condition (optional): A condition to filter which items to include in the dictionary.

'''

d1 = {i:i*i for i in range(1,11)}
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [73]:
d1 = {i:i*i for i in range(1,11) if i%2==0}
print(d1)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}