In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in s:\anaconda\lib\site-packages (9.2.0)

# 1. Select Statement

In [2]:
import mysql.connector as connection

In [3]:
con = connection.connect(host='localhost',user='root',password='root',use_pure=True,charset='utf8',database='employee')
print(con)

# Purpose: This connects Python to your MySQL database.

# Parameters:
# host: Address of your MySQL server (usually localhost if the database is running locally).
# user: Your MySQL username (e.g., root).
# password: Password associated with the user.
# database: The name of the database where you'll be working.

# If the connection is successful, a connection object is created.

<mysql.connector.connection.MySQLConnection object at 0x00000216712F8B90>

In [6]:
# 1.what is use_pure parameter?

# The use_pure parameter in the mysql.connector.connect() method determines whether to use 
# the pure Python implementation or the C-extension implementation of the MySQL Connector for interacting with the MySQL database.

# 2.Purpose of use_pure
# use_pure=True: Use the pure Python implementation of MySQL Connector.
# use_pure=False: Use the C-extension implementation of MySQL Connector if available.

# 3.Why is there a Pure Python Implementation?
# The pure Python implementation of MySQL Connector is written entirely in Python and does not depend on any compiled C code or external libraries.
# The C-extension implementation, on the other hand, is faster because it uses low-level, compiled C code for certain operations, which enhances performance.

# 4.When to Use use_pure=True or use_pure=False?

# a. use_pure=True
# Ensures the connector operates in pure Python mode.
# Useful in environments where:
# C-extensions are not available or cannot be installed (e.g., some server environments or virtualized environments).
# You want to avoid compatibility issues caused by C extensions.
# May result in slower performance compared to the C-extension mode.

# b. use_pure=False
# Tries to use the C-extension implementation of MySQL Connector for better performance.
# The connector will fall back to the pure Python implementation automatically if the C-extension is not available.
# Recommended in most scenarios where performance is critical.

In [7]:
cursor = con.cursor()
print(cursor)

# Purpose: 
# The cursor is a pointer that allows you to interact with the database (execute SQL queries and retrieve results).


# what is cursor method ?
# In Python, the cursor() method is used to create a cursor object from a database connection. 
# This cursor object acts as a pointer that allows you to execute SQL commands and interact with the database.
# It's an essential component when working with databases in Python.

# The cursor is part of the Python Database API (DB-API), which is implemented by most Python database libraries, 
# such as mysql-connector-python, sqlite3, and psycopg2 for PostgreSQL.

MySQLCursor: (Nothing executed yet)

In [5]:
cursor.execute("Select * from emp")

# what is execute method?
# The cursor.execute() method in Python is used to execute SQL queries or commands using a database cursor. 
# It is a fundamental part of interacting with a database, and you use it to send SQL commands such as SELECT, INSERT, UPDATE, or DELETE to the database server.


# query: A string containing the SQL query to be executed.
# params (optional): A tuple or dictionary of parameters to be substituted into the query.
# This helps prevent SQL injection.


# How It Works
# The execute() method sends the SQL query to the database server through the database connection.
# The database processes the query.
# If the query fetches data (like SELECT), the result is stored in the cursor object, which you can retrieve later using methods like fetchone() or fetchall().
# If the query modifies data (like INSERT or UPDATE), you may need to call commit() on the connection to save the changes.

In [ ]:
# SQL injection is an attack technique where an attacker manipulates input fields to execute arbitrary SQL commands on the database.
# For example, if you directly concatenate user input into an SQL query, attackers can exploit it to perform unintended actions like accessing or modifying data.

# Example of Vulnerable Code:

# user_input = "1; DROP TABLE employees;"  # Malicious input
# query = "SELECT * FROM employees WHERE id = " + user_input
# cursor.execute(query)  # Executes: SELECT * FROM employees WHERE id = 1; DROP TABLE employees;

# In the above case:
# The malicious input "1; DROP TABLE employees;" executes two SQL commands.
# This could lead to catastrophic consequences like dropping the entire table.

In [1]:
# How Parameterized Queries Prevent SQL Injection
# Parameterized queries prevent this by treating inputs strictly as data, not as executable SQL commands. 
# When you use parameters, the database engine binds the input values as data instead of including them directly in the SQL string.

# useinput = "1; DROP TABLE employees;"  # Malicious input
# query = "SELECT * FROM employees WHERE id = ?"
# cursor.execute(query, (user_input,))

# Hereâ€™s what happens internally:

# Query Parsing: The database engine parses the query string: "SELECT * FROM employees WHERE id = ?"
# Binding Values: The parameter (user_input,) is bound to the ? placeholder.
# Safe Execution: The database treats user_input as a literal value, not SQL code.

# In this case:

# The query becomes: "SELECT * FROM employees WHERE id = '1; DROP TABLE employees;'"
# The malicious input is safely treated as a string and cannot execute SQL commands.

In [ ]:
# Yes, when you use a SELECT query with the cursor.execute() method, it executes the query, but it does not directly return the results. 
# Instead, the result set is stored in the cursor object, and you need to fetch the data explicitly using methods like:

# fetchall() - Retrieves all rows from the result set.
# fetchone() - Retrieves the next row from the result set.
# fetchmany(size) - Retrieves the next size number of rows.

In [ ]:
# Details of How Data Is Stored and Retrieved:

# 1.Internally in Cursor:
# After executing the SELECT query, the result set (i.e., the matching rows) is fetched from the database server and stored in the cursor object.
# The exact structure is managed by the database driver (e.g., mysql-connector-python, psycopg2, sqlite3, etc.), but this is abstracted from you.

# 2.When Retrieved (e.g., via fetchall(), fetchone(), etc.):
# The rows are retrieved from the cursor object in a Python-friendly format.
# By default, this is a list of tuples.

In [6]:
for row in cursor.fetchall():
    print(row)
    
# The fetchall() method is a function in database cursor objects used to retrieve all rows of the result set from the most recently executed SQL SELECT query. 
# It returns the data as a list of tuples, where each tuple represents a row in the result set.


# When to Use fetchall()
# When you want to retrieve and process all rows from a result set at once.
# It's suitable when working with small to moderately sized result sets.
# For very large datasets, it may use too much memory, so consider using fetchone() or fetchmany() instead.

(1, 'Ashmit')
(2, '')

# Responsibilities of the Connection Object:

In [2]:
# The connection object represents your session with the database.
# It manages the transaction lifecycle, including:
# Starting a transaction.
# Committing changes to make them permanent in the database.
# Rolling back changes in case of an error.
# Any changes made to the database (via queries like INSERT, UPDATE, or DELETE) are part of a transaction.
# By default, these changes are temporary until the transaction is explicitly committed or rolled back.

# Responsibilities of the Cursor Object:

In [6]:
# The cursor object is responsible for executing queries and interacting with the database.
# It fetches result sets for SELECT queries and sends data manipulation instructions (INSERT, UPDATE, etc.) to the database.
# However, the cursor itself does not manage transactions or control how changes are finalized.

# Why commit() on the Connection?

In [7]:
# When you run a data-modifying query (e.g., INSERT, UPDATE, or DELETE) using the cursor:

# The cursor sends the query to the database server and performs the requested operation.
# The changes remain in a pending (uncommitted) state because they are part of the transaction managed by the connection.
# To make these changes permanent, you must explicitly call commit() on the connection.
# If you were to call commit() on the cursor (if it even existed), the cursor wouldn't know how to commit because it doesn't manage the transactionâ€”it is only a tool for executing queries within the transaction.

In [8]:
# Analogy:
# Think of the connection as the "contract" or "agreement" between you and the database, 
# and the cursor as a "messenger" or "worker" executing tasks under that agreement.

# Connection: Manages the overall transaction, ensuring changes are saved (via commit()) or discarded (via rollback()).
# Cursor: Executes individual queries but relies on the connection to finalize the transaction.

# 2. Insert Statement

In [2]:
import mysql.connector as connection

In [4]:
con = connection.connect(host='localhost',user='root',password='root',database='employee',charset='utf8',use_pure=True)
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000021473F7DA50>

In [8]:
cursor = con.cursor()

In [16]:
cursor.execute('Insert into emp values (%s,%s)',(2,'gogo'))

In [17]:
con.commit()

In [21]:
# Retriving the inserted data 
cursor.execute("Select * from emp")

In [22]:
for row in cursor.fetchall():
    print(row)

(1, 'Ashmit')
(2, '')
(2, 'gogo')

In [23]:
con.close()

# 3. Delete Statement

In [1]:
import mysql.connector as connection

In [7]:
con = connection.connect(host= 'localhost',username = 'root',password='root',database='employee',use_pure=True,charset='utf8')
print(con)

<mysql.connector.connection.MySQLConnection object at 0x000002944E77A510>

In [8]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [11]:
cursor.execute('Delete from emp where id = %s',(2,))

In [12]:
con.commit()

In [13]:
con.close()

# 4. Update Statement

In [14]:
import mysql.connector as connection

In [15]:
con = connection.connect(host='localhost',user='root',password='root',database='employee',use_pure=True,charset='utf8')
print(con)

<mysql.connector.connection.MySQLConnection object at 0x000002945143FE90>

In [17]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [19]:
cursor.execute('update emp set name = %s where id = %s',('xyz',1))

In [20]:
con.commit()

In [21]:
con.close()

# 5. Show Databases

In [34]:
import mysql.connector as connection

In [35]:
con = connection.connect(host='localhost',username = 'root',password='root',charset='utf8',use_pure=True)
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000017FCA321250>

In [36]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [37]:
cursor.execute("Show databases")

In [38]:
res = cursor.fetchall()
print(res)

[('information_schema',), ('college',), ('db21',), ('e-commerce cart',), ('employee',), ('mysql',), ('ngo',), ('org',), ('temp',), ('test',), ('test2',), ('xyz',)]

In [39]:
print(res[1])

('college',)

In [40]:
for i in res:
    print(i[0],)

information_schema
college
db21
e-commerce cart
employee
mysql
ngo
org
temp
test
test2
xyz

# 6. Creating Database

In [47]:
import mysql.connector as connection

In [48]:
con = connection.connect(host='localhost',username='root',password='root',charset='utf8',use_pure=True)
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000017FCA5C2F10>

In [49]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [50]:
cursor.execute("Create Database if not exists Test2")

In [53]:
con.close()

In [54]:
# Printing all the databases

In [55]:
con = connection.connect(host='localhost',username='root',password='root',charset='utf8',use_pure=True)
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000017FCA3E9090>

In [56]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [57]:
res = cursor.execute("Show Databases")

In [58]:
print(res)

[('information_schema',), ('college',), ('db21',), ('e-commerce cart',), ('employee',), ('mysql',), ('ngo',), ('org',), ('temp',), ('test',), ('test2',), ('xyz',)]

In [59]:
for i in res:
    print(i[0])

information_schema
college
db21
e-commerce cart
employee
mysql
ngo
org
temp
test
test2
xyz

# 7.Creating Table

In [60]:
import mysql.connector as connection

In [64]:
con = connection.connect(host='localhost',user='root',password='root',database='Test2',use_pure=True,charset='utf8')
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000017FCA548F10>

In [66]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [ ]:
cursor.execute('''Create table StudentDetails 
               (StudentId int(10) AUTO_INCREMENT PRIMARY KEY,
               FirstName Varchar(60),
               LastName Varchar(60),
               RegistrationDate DATE,
               Class varchar(20),
               Section Varchar(10))''')

In [81]:
con.close()

In [128]:
con = connection.connect(host='localhost',user='root',password='root',database='Test2',use_pure=True,charset='utf8')
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000017FCB354390>

In [129]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [130]:
cursor.execute('use test2')

In [132]:
for i in cursor.fetchall():
    print(i)

In [133]:
cursor.execute("Show tables")

In [135]:
for i in cursor.fetchall():
    print(i)

In [136]:
con.close()

# 8. Inserting Data Into New Table

In [137]:
import mysql.connector as connection

In [138]:
con = connection.connect(host='localhost',user='root',password='root',charset='utf8',use_pure=True,database='Test2')
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000017FCB355E50>

In [140]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [141]:
cursor.execute('''Insert into studentdetails values
                    (1132,'Sachin','Kumar','1997-11-11','Eleventh','A')''')

In [142]:
con.commit()

In [143]:
# Getting the data which is just added
cursor.execute("Select * from StudentDetails")

In [144]:
res = cursor.fetchall()

In [145]:
print(res)

[(1132, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A')]

# 9. Using pandas method for formatting

In [146]:
# what is read_sql method of pandas ?

# The read_sql method in pandas is used to read SQL query results or an entire database table into a pandas DataFrame. 
# It provides an easy way to fetch structured data from relational databases like MySQL, PostgreSQL, SQLite, and others.

# Syntax:
# pandas.read_sql(sql, con, index_col=None, coerce_float=True, params=None, parse_dates=None, chunksize=None)

# Parameters:
# sql: A SQL query string or a table name.
# con: A database connection object (e.g., from sqlite3 or SQLAlchemy).
# index_col: Column(s) to set as the index of the DataFrame.
# coerce_float: Converts numeric values to float if possible (default is True).
# params: Parameters for parameterized queries.
# parse_dates: Column(s) to parse as dates.
# chunksize: If provided, returns an iterator for chunk processing instead of a full DataFrame.

In [148]:
# what is pandas dataframe?

# A pandas DataFrame is a two-dimensional, tabular data structure in Python that is similar to an Excel spreadsheet or an SQL table.
# It consists of rows and columns, where each column can hold different data types (integers, floats, strings, etc.).
# It is a mutable and flexible data structure that allows easy manipulation, analysis, and visualization of data.

In [2]:
import mysql.connector as connection
import pandas as pd

In [3]:
con = connection.connect(host='localhost',username='root',password='root',database='test2',charset='utf8',use_pure=True)
print(con)

<mysql.connector.connection.MySQLConnection object at 0x00000223905F9C90>

In [4]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [5]:
a = pd.read_sql("Select * from studentdetails",con)

C:\Users\Aryan\AppData\Local\Temp\ipykernel_22012\186743806.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  a = pd.read_sql("Select * from studentdetails",con)

In [6]:
print(a)

   StudentId FirstName LastName RegistrationDate     Class Section
0       1132    Sachin    Kumar       1997-11-11  Eleventh       A

# 10. Storing the data from csv file to table

In [7]:
# what is to_csv method of pandas ?

# The to_csv() method in pandas is used to save a DataFrame as a CSV (Comma-Separated Values) file. 
# It allows exporting data from a pandas DataFrame to a CSV file for storage, analysis, or sharing.

# Syntax
# DataFrame.to_csv(filepath, sep=',', index=True, header=True, encoding=None, mode='w', ...)

# Parameters
# Parameter	Description
# filepath	The path where the CSV file will be saved (e.g., "data.csv").
# sep	Delimiter used (default is , for CSV). You can use '\t' for TSV files.
# index	Whether to write row index (True by default). Use False to exclude index.
# header	Whether to include column names (True by default).
# encoding	File encoding (e.g., "utf-8" for international characters).
# mode	File write mode ('w' for overwrite, 'a' for append).

In [8]:
# Now the data is placed inside the csv file name mydata in the tabular form.
a.to_csv('mydata.csv')

In [9]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [ ]:
cursor.execute("Create table mydata(n1 int(10), n2 varchar(60),n3 varchar(60),n4 date,n5 varchar(60),n6 varchar(60))")

In [11]:
data = pd.read_csv('mydata.csv')

In [ ]:
data.to_sql("mydata",con)

# 11. Storing the data from the file inside the database

In [21]:
import mysql.connector as connection

In [22]:
con = connection.connect(host='localhost',username = 'root',password = 'root',use_pure=True,charset='utf8')
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000022394E9F7D0>

In [23]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [25]:
cursor.execute("Create database if not exists glassdata")

In [26]:
con.close()

In [27]:
# Establishing the connection with the database created above

In [28]:
con = connection.connect(host='localhost',username = 'root',password = 'root',database='glassdata',use_pure=True,charset='utf8')
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000022394F1B050>

In [30]:
cursor = con.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

In [31]:
cursor.execute("Create table if not exists glass (Index_Number int(10),RI float(10,5),Na float(10,5))")

In [32]:
# read from the file 

# The reader method of the csv module in Python is used to read data from a CSV file and return it as an iterable of rows.
# Each row is returned as a list of strings.

In [43]:
import csv
with open('glass.data.csv','r') as f:
    next(f)
    data_csv = csv.reader(f,delimiter='\n')
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1]:
            cursor.execute(f"Insert into glass values({j})")
    print("all the data inserted")
con.commit()

<_csv.reader object at 0x0000022394FA7280>
(0, ['1,1.4343553,13'])
(1, ['2,4.5343434,15'])
(2, ['3,1.3424324,19'])
all the data inserted